<app-navbar></app-navbar>

<div class="wrapper">
  <form>
    <div class="login-container">
      <h3>Inscription</h3>
      <input
        id="username"
        name="username"
        type="text"
        placeholder="username"
        required
      />
      <input
        id="email"
        name="email"
        type="email"
        placeholder="email@example.com"
        required
      />
      <input
        id="password"
        name="password"
        type="password"
        placeholder="*********"
        required
      />
      <input
        id="confirmpassword"
        name="confirmpassword"
        type="password"
        placeholder="*********"
        required
      />
      <p>
        Vous avez déjà un compte ?
        <a routerLink="/connexion">Connectez-vous ici</a>
      </p>
      <button>Se connecter</button>
    </div>
  </form>
</div>
