<div class="navbar">
  <div class="title-container">
    <a class="title" routerLink="/" (click)="clearSearch()"
      ><h2>FilmsApp</h2></a
    >
  </div>
  <div class="links">
    <a routerLink="/" (click)="clearSearch()">Accueil</a>
    <a class="genres" [matMenuTriggerFor]="menu"
      >Genres <fa-icon class="icon" [icon]="faChevronDown"></fa-icon
    ></a>
    <mat-menu #menu="matMenu" yPosition="below">
      @for(genre of genres; track genre.id) {
      <button
        (click)="
          this.router.navigate(['/'], { queryParams: { genreId: genre.id } })
        "
        mat-menu-item
      >
        {{ genre.name }}
      </button>
      }
    </mat-menu>
    @if(this.authService.isLoggedIn) {<a routerLink="/favoris"
      >Favoris ({{ favCount }}) </a
    >} @if(!this.authService.isLoggedIn) {
    <a routerLink="/connexion">Connexion</a>
    <a routerLink="/inscription">Inscription</a>
    }@else {
    <a class="email"
      >{{ this.authService.email }} (<a
        class="logout"
        (click)="this.authService.logOut()"
        >Se déconnecter</a
      >)</a
    >
    }
  </div>
</div>
