<div class="detail-films-container">
  <app-navbar></app-navbar>
  <div class="details-film-content">
    @if(film?.backdrop_path) {
    <div class="backdrop">
      <img [src]="backdropUrl + film?.backdrop_path" alt="Backdrop" />
    </div>
    }
    <div class="film-details-container">
      <div class="img-container">
        <img
          class="poster"
          [src]="posterUrl + film?.poster_path"
          alt="Poster"
        />
      </div>
      <div class="details-container">
        <h2>
          {{ film?.title }}
          <span> ({{ film?.release_date | date : "yyyy" }}) </span>
        </h2>
        <p>
          {{ film?.release_date | date : "d/M/yyyy" }} •
          {{ getGenres(film?.genres) }} •
          {{ getDuration(film?.runtime) }}
        </p>
        <p>
          <fa-icon class="star" [icon]="faStar"></fa-icon>
          {{ film?.vote_average | number : "1.1-1" }} ({{ film?.vote_count }})
        </p>
        <em>{{ film?.tagline }}</em>
        <div class="synopsis">
          <h3>Synopsis</h3>
          <p>{{ film?.overview }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="acteurs">
  <h3>Têtes d'affiche</h3>
  <app-liste-acteurs [acteurs]="this.actors"></app-liste-acteurs>
</div>
@if(this.trailerKey) {
<div class="trailer">
  <h3>Bande-annonce</h3>
  <iframe
    width="695"
    height="391"
    [src]="this.sanitizedTrailerUrl"
    [title]="film?.title"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>
</div>
}
<div class="comment-section">
  <h3>Espace commentaires</h3>
  <app-creer-commentaire
    (onSendComment)="sendComment($event)"
  ></app-creer-commentaire>
  @if(this.comments?.length !== 0) { <mat-divider></mat-divider>}
  <app-liste-commentaires [comments]="this.comments"></app-liste-commentaires>
</div>
