a {
  text-decoration: none;
  color: #fff;
}

.navbar {
  font-family: Poppins, sans-serif;
  display: flex;
  background-color: #0284c7;
  padding: 10px 20px;
  justify-content: space-between; /* Ensures space between title and links */
  align-items: center; /* Vertically centers items in the navbar */
  width: 100%;
}

.links {
  display: flex;
  font-size: 1.15 rem;
  gap: 80px;
}
