<app-navbar></app-navbar>

<div class="wrapper">
  <form>
    <div class="login-container">
      <input
        id="email"
        name="email"
        type="email"
        placeholder="email@example.com"
        required
      />
      <input
        id="password"
        name="password"
        type="password"
        placeholder="*********"
        required
      />
      <div class="remember-container">
        <input type="checkbox" id="remember" class="remember" />
        <label for="remember">Se souvenir de moi</label>
      </div>
      <button>Se connecter</button>
    </div>
  </form>
</div>
