.login-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 50px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.wrapper {
  font-family: Poppins, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

#email,
#password {
  border: 2px solid rgb(126, 123, 123);
  outline: none;
  border-radius: 10px;
  width: 300px;
  padding: 3px 10px;
  font-size: 1.2rem;
}

#email:focus,
#password:focus {
  border: 3px solid var(--blue-main);
}

button {
  outline: none;
  border: none;
  color: #fff;
  background-color: var(--blue-main);
  border-radius: 10px;
  height: 50px;
  text-align: center;
  font-size: 1.2rem;
}

.remember-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

#remember {
  width: 20px;
  height: 20px;
}

label[for="remember"] {
  font-size: 1.1rem;
}
