<div class="film-item">
  <h3>{{ film.title }}</h3>
  <p>
    {{ film.release_date | date }} |
    <fa-icon class="star" [icon]="faStar"></fa-icon>
    {{ film.vote_average | number : "1.1-1" }} ({{ film.vote_count }})
  </p>

  <img [src]="baseUrl + film.poster_path" alt="" />
  <div class="icon-container">
    <fa-icon
      class="icon"
      (click)="goToDetails(film.id)"
      [icon]="faEllipsis"
    ></fa-icon>
    @if(this.authService.isLoggedIn) { @if(!favorite) {
    <fa-icon
      class="icon"
      (click)="toggleFavorite(film)"
      [icon]="faHeartRegular"
    ></fa-icon>
    }@else {
    <fa-icon
      class="icon"
      (click)="toggleFavorite(film)"
      [icon]="faHeartSolid"
    ></fa-icon>
    } }
  </div>
</div>
