<app-navbar
  [favCount]="this.filmsHelper.favoriteFilms.length"
  (onClearSearch)="resetSearch()"
></app-navbar>

@if(!this.loading) { @if(!this.displayFavorites) {
<div class="search-container">
  <input
    type="text"
    name="searchTerm"
    id="searchTerm"
    placeholder="Rechercher un film..."
    [(ngModel)]="searchTerm"
    (ngModelChange)="searchFilms()"
  />
  <fa-icon (click)="resetSearch()" [icon]="faX"></fa-icon>
</div>
@if(this.showPopularMessage) {
<div class="search-term">
  <h3>Sorties populaires :</h3>
</div>
} @if(this.showResultsMessage) {
<div class="search-term">
  <h3>Résultats de votre recherche : '{{ searchTerm }}'</h3>
</div>
} }

<div class="film-container">
  @for (film of films; track film.id) {
  <app-film-item
    (toggledFavorite)="toggleFavorite(film)"
    appBorderCard
    [film]="film"
    [favorite]="this.filmsHelper.isFavorite(film)"
  ></app-film-item>
  }
</div>

@if(this.films.length === 0) {
<div class="not-found">
  <h3>Aucun film trouvé !</h3>
</div>
} } @else {<app-chargement></app-chargement>}
