<app-navbar
  [favCount]="this.filmsHelper.getFavoriteFilms().length"
></app-navbar>
@if(this.loading) {
<div class="loading-container">
  <p>Chargement...</p>
</div>
} @if(films.length !== 0) {
<div class="film-container">
  @for (film of films; track film.id) {
  <app-film-item
    (toggledFavorite)="toggleFavorite(film)"
    appBorderCard
    [film]="film"
    [favorite]="this.filmsHelper.isFavorite(film)"
  ></app-film-item>
  }
</div>
}@if(films.length === 0) {
<div class="not-found">
  <h3>Aucun film trouvé !</h3>
</div>
}
