<app-navbar></app-navbar>

<div class="wrapper">
  <form (ngSubmit)="onSubmit()">
    <div class="login-container">
      <h3>Connexion</h3>
      <input
        id="email"
        name="email"
        type="email"
        placeholder="email@example.com"
        [(ngModel)]="email"
        required
      />
      <input
        id="password"
        name="password"
        type="password"
        placeholder="*********"
        [(ngModel)]="password"
        required
      />
      <div class="remember-container">
        <input
          type="checkbox"
          id="remember"
          name="remember"
          class="remember"
          [(ngModel)]="this.authService.rememberMe"
        />
        <label for="remember">Se souvenir de moi</label>
      </div>
      <p>
        Vous n'avez pas de compte ?
        <a routerLink="/inscription">Créez-en un ici</a>
      </p>
      <button>Se connecter</button>
    </div>
  </form>
</div>
